.password-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Flex direction 수정 */
  margin-top: 50px; /* Margin 수정 */
}

.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: column; /* Flex direction 수정 */
  gap: 10px; /* 간격 추가 */
}

.password-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 20px;
  letter-spacing: 16px;
  font-weight: 700;
  padding-left: 18px;
}

.password-input.hide {
  opacity: 0;
}

.password-text-wrapper {
  /* display: flex; */
  flex-direction: column; /* Flex direction 수정 */
  gap: 10px; /* 간격 추가 */
  top: 0;
}

.password-text {
  position: relative;
  width: 300px;
  height: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  display: flex;
  text-align: center;
}

.char {
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 20px;
  text-align: center;
  font-weight: 800;
}

.toggle-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70px;
}

.toggle-button.show {
  background-color: #28a745;
}

.toggle-button.hide {
  background-color: #dc3545;
}
