body {
  font-family: Pretendard, sans-serif;
  background: #f7f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wheel-container {
  text-align: center;
}

.wheel-wrapper {
  position: relative;
  display: inline-block;
}

.wheel-pointer {
  position: absolute;
  top: -10px; /* 포인터를 캔버스 위쪽에 위치 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red; /* 세모가 아래쪽을 향하도록 변경 */
  z-index: 1;
}

.spin-button,
.control-button {
  background: #febf00;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.spin-button.disabled,
.control-button.disabled {
  background: #d0d0d0;
  cursor: not-allowed;
}

.spin-button:active,
.control-button:active {
  background: #444;
  color: #f9f9f9;
}

.input-container,
.options-list {
  margin: 1rem 0;
}

.option-input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.controls button {
  background: #febf00;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 0.5rem;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.controls button:active {
  background: #444;
  color: #f9f9f9;
}

.controls span {
  font-size: 1.2rem;
  margin: 0 1rem;
}
