.text-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.text {
  font-size: 10vw; /* 텍스트 크기 조정 */
  font-weight: bold;
  color: transparent;
  background: url("./KOREA.png") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}
