:root {
  --color1: #61dbfb;
  --color2: #ffffff;
  --color3: #1572b6;
  --color4: #ff6347;
}

.container .box {
  transform-style: preserve-3d;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(3000px) rotateX(0deg) rotatez(0deg);
  }
  100% {
    transform: perspective(3000px) rotateX(360deg) rotate(360deg);
  }
}

.container .box span {
  position: absolute;
  font-size: 70px;
  font-weight: 900;
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(200px);
}

.container .box span i {
  color: var(--color);
}
